{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue {{ app.user.prenom }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}

    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Mois</th>
                    <th>Etat</th>
                    <th>Consulter la fiche</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for fiche in ficheFrais %}
                    <tr>
                        <td>{{ fiche.moisFormated | date('m-Y') }} </td>
                        <td>{{ fiche.etat.libelle }}</td>
                        <td><a href="{{ path('app_fiche_frais', {'id': fiche.id}) }}"><button class="btn btn-primary">Consulter</button></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
