{% extends 'base.html.twig' %}

{% block title %}Hello MesFichesFraisController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if form is defined %}
    {{ form_start(form) }}
    {{ form_row(form.selectedMonth) }}
    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
    {% endif %}

    {% if selectedFiche is not null %}
        <br><p> Fiche de frais du mois : {{ selectedFiche.moisFormated | date('m-Y') }}  </p>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if not is_granted('ROLE_COMPTABLE') %}
                <p> Etat de la fiche : {{ selectedFiche.etat.libelle }} </p>
            {% endif %}
            {% if is_granted('ROLE_COMPTABLE') %}
                {{ form_start(etatForms[selectedFiche.id]) }}
                {{ form_widget(etatForms[selectedFiche.id]) }}
                <button type="submit" class="btn btn-primary">Valider</button>
                {{ form_end(etatForms[selectedFiche.id]) }}
            {% endif %}
        {% endif %}


        <br> <h2> Elements forfaitisés  </h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Forfait Etape</th>
                <th scope="col">Frais Kilométrique</th>
                <th scope="col">Nuitée Hôtel</th>
                <th scope="col">Repas Restaurant</th>
            </tr>
            </thead>
            <tbody>
            {% for uneLigneFF in selectedFiche.ligneFraisForfaits %}
                    <td>{{ uneLigneFF.quantite }} </td>
            {% endfor %}
            </tbody>
        </table>

        <br> <h2> Hors-forfait </h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Libelle</th>
                <th scope="col">Montant</th>
            </tr>
            </thead>
            <tbody>
            {% for uneLigneFHF in selectedFiche.ligneFraisHorsForfaits %}
                <tr>
                    <td>{{ uneLigneFHF.date | date('d/m/Y')}} </td>
                    <td>{{ uneLigneFHF.libelle }}</td>
                    <td>{{ uneLigneFHF.montant }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}

</div>
{% endblock %}
